<header class="header header-js{% if page.url == '/' %} header--home{% endif %}">
    <div class="header__container">
        <div class="header__brand">
            <a href="/">
                <svg class="header__brand-logo brand-staticman">
                    <use xlink:href="#brand-staticman" />
                </svg>
                <svg class="header__brand-type brand-type">
                    <use xlink:href="#brand-type" />
                </svg>
            </a>
        </div>
        <!--button class="menu-button-js header__nav-icon burger">Menu</button-->
        <input class="burger__check" id="burger__check" type="checkbox">
        <label for="burger__check" class="burger header__nav-icon"></label>
        
        <nav class="header__nav">
            <a class="header__nav-item" href="/demo">Demo</a>
            <a class="header__nav-item" href="/docs">Documentation</a>
            <a class="header__nav-item" href="https://github.com/eduardoboucas/staticman">View on GitHub</a>
            <!--a class="header__nav-item" href="https://twitter.com/staticmanapp">@staticmanapp</a-->
        </nav>
    </div>
</header>
