// Burger menu button
$burger--thickness: 4px;
$burger--nav-element: '.header__nav';

.burger {
	$width: 32px;
	
	display: inline-block;
  	border: 0;
	background: none;
	outline: 0;
	padding: 0;
	cursor: pointer;

	border-bottom: $burger--thickness solid currentColor;
	width: $width;

	transition: border-bottom 1s ease-in-out;

	// Fix for extra space in Firefox
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}	 

	&:before {
		content: "";
		display: block;
		border-bottom: $burger--thickness solid currentColor;
		width: 100%;
		margin-bottom: 5px;
		transition: transform 0.5s ease-in-out;
	}

	&:after {
		content: "";
		display: block;
		border-bottom: $burger--thickness solid currentColor;
		width: 100%;
		margin-bottom: 5px;
		transition: transform 0.5s ease-in-out;
	}
}

.burger__check {
  	display: none;
}

.burger__check:checked ~ .burger {
  	border-bottom: $burger--thickness solid transparent;
  	transition: border-bottom 0.8s ease-in-out;

  	&:before {
    	transform: rotate(-405deg) translateY(1px) translateX(-3px);
    	transition: transform 0.5s ease-in-out;
  	}

  	&:after {
    	transform: rotate(405deg) translateY(-4px) translateX(-5px);
    	transition: transform 0.5s ease-in-out;
  	}
}

@include media('<tablet') {
	#{$burger--nav-element} {
	  	overflow: hidden;
	  	max-height: 0;
	  
	  	transition: max-height 0.5s ease-in-out;
	}

	.burger__check:checked ~ #{$burger--nav-element} {
	  	max-height: 500px;
	  
	  	transition: max-height 0.5s ease-in-out;
	}	
}
