@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oswald);

$font-family-primary: 'Lato', sans-serif;
$font-family-secondary: 'Oswald', sans-serif;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$font-size-normal: 20;

$line-height-normal: 1.5;